<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionStringDB" connectionString="Data Source=DESKTOP-LRMIV19;Initial Catalog=ManagerService;Integrated Security=True"/>
    <add name="connectionStringDBTest" connectionString="Data Source=DESKTOP-LRMIV19;Initial Catalog=UTestManagerService;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="connectionStringDB" value="Data Source=DESKTOP-LRMIV19;Initial Catalog=ManagerService;Integrated Security=True"/>
  </appSettings>
</configuration>